#banner {
	background-image: url('../img/banner-meet_the_team.jpg');
	background-size: cover;
	background-position: center center;
	height: 40vh;
}
@media (min-width: 992px) {
	#banner {
		height:60vh;
	}
}